/* Estilo general */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #0f0c29; /* Azul oscuro casi negro */
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

/* Estilo del encabezado */
header {
    background-color: #7f00ff; /* Morado vibrante */
    color: white;
    padding: 20px;
}

h1.rgb-text {
    font-size: 2.5em;
    background: linear-gradient(90deg, #00c6ff, #0072ff); /* Gradiente azul futurista */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.separator {
    width: 80%;
    height: 3px;
    margin: 20px auto;
    background: linear-gradient(90deg, #00c6ff, #0072ff); /* Gradiente azul futurista */
    border-radius: 5px;
    animation: separator-animation 3s linear infinite;
}

@keyframes separator-animation {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

/* Sección de compra */
.purchase-section {
    background-color: #1f1b24; /* Gris oscuro */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 30px;
    max-width: 600px;
    margin: auto;
    color: #00c6ff; /* Azul claro */
}

h2 {
    color: #00c6ff; /* Azul claro */
    font-size: 2em;
}

.price-container {
    margin: 20px 0;
}

#quantity {
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid #00c6ff; /* Azul claro */
    border-radius: 5px;
    width: 80%;
    color: #00c6ff;
    background-color: #2e2a35; /* Gris oscuro */
}

.price-container p {
    font-size: 1.2em;
}

#total-price {
    font-weight: bold;
    color: #00c6ff; /* Azul claro */
}

/* Botones */
.options-container button {
    background-color: #00c6ff; /* Azul claro */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.options-container button:hover {
    background-color: #0072ff; /* Azul oscuro */
}

/* Información de pago */
#payment-info {
    margin-top: 20px;
}

#payment-info h3 {
    color: #00c6ff; /* Azul claro */
    font-size: 1.5em;
}

.qr-code {
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

#validate-btn {
    background-color: #00c6ff; /* Azul claro */
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#validate-btn:hover {
    background-color: #0072ff; /* Azul oscuro */
}
